@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body {
    background-color: #010001;
    color : #fff ;
    font-family: "Inria Serif", serif;
}

html {
    scroll-padding-top: 70px; /* تعديل هذا الرقم حسب ارتفاع الهيدر */
    scroll-behavior: smooth; /* لجعل التنقل سلس */
  }


  .swiper-slide {
    width: auto !important; /* يجعل العرض يتكيف مع المحتوى */
  }